<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #github-logo {
    height: 40px;
    margin: 0 16px;
  }


  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Forest Fire Icon" src="/assets/main-icon.png" />
  <span>Forest Fire Reporting Platform (FFRP)</span>
  <div class="spacer"></div>
  <button mat-icon-button color="basic" aria-label="Reload table">
    <mat-icon>replay</mat-icon>
  </button>
  <a href="https://github.com/C3sarz/DDD-CRUD" target="_blank"><img id="github-logo" alt="Forest Fire Icon"
      src="/assets/github-mark.png" /></a>
</div>

<body class="modal">
<div class="content" role="main">
  <!-- <mat-card> -->
   <h1 align="center" class="md-display-2">Welcome to the Forest Fire Reporting Platform!</h1>
  <!-- </mat-card> -->

  <app-report-table class="table"></app-report-table>

</div>



  <!-- Footer -->
  <footer>
    Icons by: -<a target="_blank" href="https://icons8.com">Icons8</a>
  </footer>
</body>

<router-outlet></router-outlet>