.row {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.column {
  flex: 50%;

}

p {
  font-family: Arial;
  font-size: 16px;
}

.report-item {
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  margin: 8px;
  padding: 16px;
  // width: max-content;
}