<button mat-raised-button (click)="newReport()" class="add-button" color="primary" align="end">Add new Report
  Location</button>

<!-- ReportAgreggate Table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 report-table">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Location Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- County Column -->
  <ng-container matColumnDef="county">
    <th mat-header-cell *matHeaderCellDef>County</th>
    <td mat-cell *matCellDef="let element">{{element.county}}</td>
  </ng-container>

  <!-- AVGFireIndex Column -->
  <ng-container matColumnDef="avgFireIndex">
    <th mat-header-cell *matHeaderCellDef>Avg FWI</th>
    <td mat-cell *matCellDef="let element">{{element.avgFireIndex}}</td>
  </ng-container>

  <!-- MaxFireIndex Column -->
  <ng-container matColumnDef="maxFireIndex">
    <th mat-header-cell *matHeaderCellDef>Max FWI</th>
    <td mat-cell *matCellDef="let element">{{element.maxFireIndex}}</td>
  </ng-container>

  <!-- Report amount Column -->
  <ng-container matColumnDef="reports">
    <th mat-header-cell *matHeaderCellDef>Reports</th>
    <td mat-cell *matCellDef="let element">{{element.reportList.length}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditDialog(row)"></tr>
</table>