.window{
    width: 700px;
    height: 400px;
    border-radius: 8px, !important;
    overflow: hidden;
}

.action-button {
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    
  }

  .report-list {
    overflow: scroll;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
  }