
<div *ngIf="!isEditing" mat-dialog-content class="window">
  <h1 mat-dialog-title>Viewing details of {{reportAggregate.name}} at {{reportAggregate.county}}</h1>

      <p>{{reportAggregate.name}} has {{reportAggregate.reportList.length}} forest fire reports.</p>
      <p>County: {{reportAggregate.county}}</p>

      <h2>Reports:</h2>
      <h3 *ngIf="reportAggregate.reportList.length == 0">No forest fires reported on this location.</h3>
      <div class="report-container" *ngFor="let r of reportAggregate.reportList">
      <app-edit-report [reportItem]="r"></app-edit-report>
      </div>
      <div class="add-report">
      <button mat-fab color="basic">
        <mat-icon fontIcon="add"></mat-icon>
        
      </button>
    </div>


</div>
<div mat-dialog-actions align="end" class="action-button">

  <button mat-fab color="warn" aria-label="Delete" [mat-dialog-close]="onDeleteClicked">
    <mat-icon fontIcon="delete"></mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="Edit" [mat-dialog-close]="onEditClicked">
    <mat-icon fontIcon="create"></mat-icon>
  </button>
</div>