.window{
    width: 700px;
    height: 400px;
    border-radius: 8px, !important;
    overflow: auto;
}

.action-button {
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

.add-report {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}


  .report-list {
    border-radius: 8px;
    padding: 8px;
  }
